//  section
////////////////////////////////
.section-box {
  text-align: center;
  width: 100%;
  height: auto;
}

.section-title {
  font-weight: bold;

  &.fire {
    // ここにテキストアニメーションを入れたい
    animation: textAnimation 1.5s ease-in-out forwards;
  }
  // テキストアニメーションのキー
  @keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #ffffff;
}
