//  section
////////////////////////////////
.section-box {
  text-align: center;
  width: 100%;
  height: auto;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #ffffff;
}
