.a-img {
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
  // // opacity: 0; /* 初期状態で非表示 */  //←これが重要なポイント
  // transform: translateY(30px); /* 初期位置を少し下に */
  // transition: all 1s;

  &.fire {
    opacity: 1; /* .fire が付与されたときに表示 */
    transform: translateY(0); /* 元の位置に戻す */
    animation: fadeUp 3s forwards;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px); /* 少し下から */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
    }
  }
}

.b-fig {
  display: flex;
  justify-content: left;
  width: 100%;
  height: auto;
  margin: 0 10px;
}

.b-img {
  width: 500px;
  border-radius: 40px;
  margin-left: 120px;
  &.fire {
    opacity: 1; /* .fire が付与されたときに表示 */
    transform: translateY(0); /* 元の位置に戻す */
    animation: fadeUp 4s forwards;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px); /* 少し下から */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
    }
  }
}

.b-caption-box {
  text-align: left;
  margin: 20px;
}

.c-box {
  text-align: center;
}

.c-fig {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  width: 100%;
  height: auto;
  margin: 0 10px;
  padding-top: 50px;
}

.c-img {
  width: 500px;
  border-radius: 40px;
  margin-right: 120px;
  &.fire {
    opacity: 1; /* .fire が付与されたときに表示 */
    transform: translateY(0); /* 元の位置に戻す */
    animation: fadeUp 5s forwards;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px); /* 少し下から */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
    }
  }
}

.c-caption-box {
  text-align: left;
  margin: 20px;
}

.m-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-img {
  width: 200px;
}
